<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Доброго дня!</h1>
  <p>
    Я Владимир Толстик.
    <br /><br />
    Занимаюсь проектами развития территорий в с.Кучугуры и Воронежской области.
  </p>
  <p>
    Сейчас с небольшой группой реализуем проект - платформа народного
    финансирования социально преобразующих проектов.
  </p>
  <p>
    Основная идея - организация поддержки проектов улучшения общей среды жизни
    через вовлечение жителей и бизнеса, посредством технического решения в виде
    краудфандинговой платформы с вовлекающей программой лояльности.
  </p>
  <p>
    Для реализации проекта нужны программисты, которые хотят немного улучшить
    окружающий нас мир. В том числе поэтому пошел обучаться программированию.
  </p>
  <p>
    Текущее состояние проекта
    <a href="https://tosiya.ru/">https://tosiya.ru/<br /><br /></a>
  </p>
  <p>
    P.S. О реализованных проектах пока не приучился рассказывать в сети,
    но немного информации все же есть
  </p>
  <p>
    <a href="https://ok.ru/group/57971070796012">
      https://ok.ru/group/57971070796012
    </a>
  </p>
  <p>
    <a href="https://ok.ru/profile/589773876539">
      https://ok.ru/profile/589773876539
    </a>
  </p>
  <p>
    <a href="http://napro-ru.ru/invest-project-lepta.html">
      http://napro-ru.ru/invest-project-lepta.html
    </a>
  </p>
{% endblock %}